spring-payment-rest/src/main/resources/payment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.wo.com/soap/payment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.wo.com/soap/payment" targetNamespace="http://www.wo.com/soap/payment">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.wo.com/soap/payment">

	<xsd:element name="PaymentListRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="paymentDate" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PaymentList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="payment" type="tns:PaymentObject"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="PaymentObject">
			<xsd:sequence>
				<xsd:element name="id" type="xsd:long"/>
				<xsd:element name="paymentDate" type="xsd:dateTime"/>
				<xsd:element name="totalAmount" type="xsd:double"/>
				<xsd:element name="currency" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="PaymentListRequest">
    <wsdl:part element="tns:PaymentListRequest" name="PaymentListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentPort">
    <wsdl:operation name="PaymentList">
      <wsdl:input message="tns:PaymentListRequest" name="PaymentListRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentPortSoap11" type="tns:PaymentPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PaymentList">
      <soap:operation soapAction=""/>
      <wsdl:input name="PaymentListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentPortService">
    <wsdl:port binding="tns:PaymentPortSoap11" name="PaymentPortSoap11">
      <soap:address location="http://localhost:8090/ws/payment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>